@use '../misc/colours' as *;
 
body {
    margin: 0;
    font-family: "Enriqueta", serif;
    min-width: 500px;
}

header {
    height: 60px;  
    background-color: $dark-green;
    align-items: center;
    z-index: 10;
}

#logo {
    width: 90px;
    grid-column: 1;
    margin-left: 10px;
    color: $white;
} 

#main_nav {
    display: none;
}

#menu {
    width: 50px;
    justify-self: end;
    grid-column: 4/5;
    padding-right: 10px;
    margin-right: 10px;
}

#menu:hover {
    cursor: pointer;
}

@media  screen and (min-width: 640px) {
    header {
        height: 70px;
    }

    #logo {
        width: 110px;
        margin-left: 20px;
    }

    #menu {
        grid-column: -1;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    #logo {
        margin-left: 30px;
    }

    #main_nav {
        display: flex;
        grid-column: 9/-1;
        justify-self: flex-end;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        margin-right: 30px;
    }

    #main_nav ul {
        list-style-type: none;
        display: flex;
    }

    #main_nav ul li a {
        color: $white;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        margin-right: 30px;
        transition: all 0.5s ease;
    }

    #main_nav ul li a:hover {
        border-bottom: 4px solid $white;
        padding-bottom: 10px;
    }

    #menu {
        display: none;
    }
}