@use '../misc/colours' as *;

#mobile_menu {
    position: absolute;
    width: 100%;
    list-style: none;
    padding: 10px;
    background-color: $dark_green;
    margin: 0;
    border-top: solid 2px $dark_grey;
    border-bottom: solid 2px $dark_grey;
    filter: brightness(0.9);
}

#mobile_menu li:first-of-type {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

#mobile_menu li:last-of-type {
    margin-bottom: 50px;
}


#mobile_menu li {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: $dark_grey; 
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: solid 2px $dark_grey;
}

#mobile_menu a {
    color: $dark_grey;
    text-decoration: none;  
}

.toggled {
    display: none;
}

@media screen and (min-width: 1024px) {
    #mobile_menu {
        display: none;
    }
}