@use '../misc/colours' as *;

#furniture_text {
    grid-column: 1/-1;
    padding: 20px;
    background-color: $dark_grey;
    color: $white;
    text-align: center;
}

#furniture_text h1 {
    font-size: 24px;
}

#furniture_text p {
    font-size: 14px;
    margin-top: 5px;
}

#categories {
    margin-top: 20px;
}

#categories div {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}

#categories a {
    grid-column: span 1;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: solid $light-blue 1px;
    box-shadow: inset $light-blue 0 -4px;
    color: $dark-grey;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    width: 15%;
    transition: all 0.5s ease-out
}

#categories a:hover {
    box-shadow: inset $light-blue 0 -8px;
}

#preview {
    margin-top: 30px;
}

#preview div {
    display: flex;
}

.preview_option {
    grid-column: span 2;
    border: solid 1px $dark_green;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.preview_option p {
    color: $black;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}

.preview_image {
    height: 200px;
    display: block;
    justify-self: center;    
}

.arrow {
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 640px) {
    #categories a {
        width: 17%;
    }

    .preview_option {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    #furniture_text {
        padding: 30px;
    }

    #furniture_text h1 {
        font-size: 28px;
    }

    #furniture_text p {
        font-size: 18px;
    }

    #categories a {
        width: 20%;
    }

    .preview_option {
        grid-column: span 4;
        font-size: 24px;
    }

    .preview_image {
        height: 230px;
    }
}

