@use '../misc/colours' as *;

#furniture_details {
    padding-bottom: 20px;
}

#furniture_name {
    grid-column: 1/5;
    font-size: 24px;
    justify-self: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-weight: 200;
}

#scene {
    position: block;
    margin: 0 auto;
    justify-self: center;
    grid-column: 1/5;
}   

#texture_select {
    grid-column-start: 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    border-radius: 15px;
    background-color: #cdcdcd;
    padding: 10px;
}

#texture_select li {
    width: 50px;
    height: 50px;
    background-color: #3e3e3e;
    border-radius: 50%;
    margin-left: 25px;
    z-index: 1;
}

#texture_select li:first-of-type {
  margin: 0;
}

#texture_select li:hover {
    cursor: pointer;
}

@media screen and (min-width:640px) {
    #furniture_name {
        font-size: 28px;
    }

    #scene {
        grid-column: 1/9;
    }
}

@media screen and (min-width:1024px) {
    #furniture_name {
        justify-self: start;
        font-size: 32px;
        grid-column: 1/8;
    }

    #scene {
        grid-column: 1/8;
    }

    #texture_select {
        margin-top: 0;
        flex-direction: column;
        grid-column: 8/12;
        height: 220px;
        justify-content: space-between;
    }

    #texture_select li {
        margin: 0;
    }
}
